<div class="container">
    <span class="text-center">
        <h1>{{portfolio.firstName + ' ' + portfolio.lastName}}</h1>
        <img src="../assets/img/icbah8Gj_400x400.jpg" class="rounded-circle mx-auto d-block smallerImg"> 
        <h2 class="subHeading">{{portfolio.subheading}}</h2>  
    </span>
    <div class="row justify-content-center">
        <a [href]="social.link" class="p-2" target="blank" *ngFor="let social of portfolio.socialMedia">
            <i [style.color] ="social.color" [class]="social.icon"></i>
        </a>
    </div>
    <br>
    <div>
        <h3>
            <i (click)="toggleOpen('logOpen')" *ngIf="logOpen; else logExpanded" class="fa fa-plus"></i> 
            <ng-template #logExpanded>
                <i class="fa fa-minus" (click)="toggleOpen('logOpen')"  ></i>
            </ng-template>
            Changelog
        </h3>

        <div *ngIf="!logOpen">
            <ul>
                <li *ngFor="let change of portfolio.changeLog" [ngStyle] = "{'color': change.color}" (mouseenter)="change.showDetails = true;" (mouseleave)="change.showDetails = false;">
                    <div>{{change.month + ' - ' + change.year}}</div>
                    <div>{{change.highlight}}</div>
                    <div *ngIf="change.showDetails" class="changeLogDetails">{{change.details}}</div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div>
        <h3>
            <i (click)="toggleUpdate('updateOpen')" *ngIf="updateOpen; else updateExpanded" class="fa fa-plus"></i>
            <ng-template #updateExpanded>
                <i class="fa fa-minus" (click)="toggleUpdate('updateOpen')"></i>
            </ng-template>4
            Update
        </h3>

        <div *ngIf="!updateOpen">
            <ul>
                <li *ngFor="let update of portfolio.updates">
                    <div>{{update.description}}</div>
                    <div>{{update.links}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>