.subHeading {
    font-weight: 300;
    color: white;
}

body {
    background: rgb(14, 13, 99) !important;  
}

.container {
    margin-top: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.smallerImg {
    margin-bottom: 5px;
    width: 20%;
}

i:hover {
    color: #fff !important;
}

.changeLogDetails {
    font-weight: 300;
    color: red;
}
