.subHeading {
    font-weight: 300;
    color: white;
}

body {
    background: #FFA700 !important;  
}

.container {
    margin-top: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.smallerImg {
    margin-bottom: 5px;
    width: 20%;
}

